{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Rookie Python Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Thanks for visiting my website. ^_^</p>
        <p>I am a Rookie Python Developer with basic web dev knowledge. </p>
        <p>Currently learning more about this stuff. I will be glad if you share your knowledge with me.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}